<nz-table #basicTable [nzData]="dataSet">
  <thead>
    <tr>
      <th>Acciones</th>
      <th>Tipo</th>
      <th>Fecha</th>
      <th>Primera vez</th>
      <th>Tercera oportunidad</th>
      <th>Aprobó 2 parciales</th>
      <th>Comprobante</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>
        <!-- <button
          nz-button
          nzType="default"
          (click)="openDrawer(update, 'editar solicitud', data)">
          Editar
        </button> -->
        <button nz-button nzType="primary" (click)="delete(data.id)" nzDanger>
          Eliminar
        </button>
      </td>
      <td>{{ data.tipo }}</td>
      <td>{{ data.fecha }}</td>
      <td style="text-align: center">{{ data.primeraVez ? "✅" : "❎" }}</td>
      <td style="text-align: center">
        {{ data.terceraOportunidad ? "✅" : "❎" }}
      </td>
      <td style="text-align: center">
        {{ data.aproboDosParciales ? "✅" : "❎" }}
      </td>
      <td>{{ data.comprobante }}</td>
    </tr>
  </tbody>
</nz-table>
