<button
  nz-button
  nzType="primary"
  (click)="openDrawer(create, 'Crear Profesor', null)">
  Crear
</button>

<nz-table #basicTable [nzData]="dataSet">
  <thead>
    <tr>
      <th>Acciones</th>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>
        <button
          nz-button
          nzType="default"
          (click)="openDrawer(update, 'Editar Profesor', data)">
          Editar
        </button>
        <button nz-button nzType="primary" nzDanger (click)="delete(data.id)">
          Eliminar
        </button>
      </td>
      <td>{{ data.nombre }}</td>
      <td>{{ data.apellidoPaterno }}</td>
      <td>{{ data.apellidoMaterno }}</td>
    </tr>
  </tbody>
</nz-table>

<ng-template #update>
  <app-update (close)="close($event)" [data]="data"></app-update>
</ng-template>

<ng-template #create>
  <app-create (close)="close($event)"></app-create>
</ng-template>
