<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nombre" nzRequired>Nombre</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="ingresa tu nombre!">
          <input nz-input placeholder="ingresa tu nombre" formControlName="nombre"/> 
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="apellidoPaterno" nzRequired>Apellido Paterno</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="ingresa tu apellido paterno!">
          <input nz-input placeholder="ingresa tu apellido paterno" formControlName="apellidoPaterno"/> 
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="apellidoMaterno" nzRequired>Apellido Materno</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="ingresa tu apellido materno!">
          <input nz-input placeholder="ingresa tu apellido materno" formControlName="apellidoMaterno"/> 
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cuatrimestre" nzRequired>Cuatrimestre</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="ingresa tu cuatrimestre">
        <nz-input-number [(ngModel)]="demoValue" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
      </nz-form-control>
  </nz-form-item>
  <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="carrera" nzRequired>Carrera</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="ingresa tu carrera!">
        <input nz-input placeholder="ingresa tu carrera" formControlName="carrera"/> 
      </nz-form-control>
  </nz-form-item>
  <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="matricula" nzRequired>Matricula</nz-form-label>
  <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="ingresa tu carrera!">
    <input nz-input placeholder="ingresa tu matricula" formControlName="matricula"/> 
  </nz-form-control>
</nz-form-item>
</form>
<div class="footer">
  <button nz-button nzType="default" (click)="cancel()" style="margin-right: 8px;">Cancelar</button>
  <button nz-button nzType="primary" (click)="submitForm()" [disabled]="!fromCreate.valid">Guardar</button>
</div>