<button 
  nz-button 
  nzType="primary">Crear
  (click)="openDrawer(create, 'crear alumno', null)"
</button>
      

<nz-table #basicTable [nzData]="dataSet">
  <thead>
    <tr>
      <th>Acciones</th>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Cuatrimestre</th>
      <th>Carrera</th>
      <th>Matrícula</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>
        <button 
        nz-button 
        nzType="default">Editar
        (click)="openDrawer(update, 'editar alumno', data)"
       </button>
      <button 
      nz-button 
      nzType="danger">Eliminar
      (click)="delete(data.id)"
      </button>
      </td>
      <td>{{data.nombre}}</td>
      <td>{{data.apellidoPaterno}}</td>
      <td>{{data.apellidoMaterno}}</td>
      <td>{{data.cuatrimestre}}</td>
      <td>{{data.carrera}}</td>
      <td>{{data.matricula}}</td>
      <td>
      </td>
    </tr>
  </tbody>
</nz-table>

<ng-template #update>
  <app-update></app-update>

</ng-template>

<ng-template #create>
  <app-create></app-create>

</ng-template>

