.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-button {
  width: 100%;
}

.layout {
  min-height: 100vh;
}

.logo {
  width: 120px;
  height: 31px;
  background: #8c2437;
  margin: 16px 24px 16px 0;
  float: left;
}

[nz-menu] {
  line-height: 64px;
}

nz-content {
  padding: 0 50px;
  margin: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

nz-footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
  border-radius: 12px;
}
